.albumsDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
  }
  
  .albumsDiv a {
    color: #333;
    text-decoration: none;
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .albumsDiv a:hover {
    color: #ea14a3;
  }
  